CRIP_P2/nbproject/private/*
/Practica2/CRIP_P2/build/
/Practica2/CRIP_P2/dist/
/Practica2/CRIP_P2/nbproject/private/
/Practica3/CRIP_P3/nbproject/private/
/Practica3/CRIP_P3/build/
/Practica3/CRIP_P3/dist/